<%= render "/components/navbar" %>

<div class="container-md m-3 p-3">
 <%= render "/components/banner" %>



  <div class="row justify-content-center">

      <% @lists.each do |l| %>
        <div class="col-lg-3 m-3 p-3 shadow-lg">
          <div class="card-trip">
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
            <div class="card-trip-infos">
              <div>
                <h2><%= l.name %></h2>
                <p class="lead">Scariest movies ever</p>
              </div>
              <%= link_to "Check it out", list_path(l), class: "btn btn-success btn-sm rounded border"%>
              <img src="https://kitt.lewagon.com/placeholder/users/bernalisi" class="card-trip-user avatar-bordered" />
            </div>
          </div>
        </div>
      <% end %>

  </div>
</div>
