
<div class="container-md m-3 p-3">
    <h1 class="display-6 fw-bolder">Movies for junkies</h1>
    <h3 class="lead">Check our lists my friend</h3>

    <%= link_to "Create a list", new_list_path, class:"btn btn-secondary rounded border"%>

  <div class="row justify-content-start">

      <% @lists.each do |l| %>
        <div class="col-md-3 m-3 p-3 shadow-lg">
          <%= link_to "#{l.name}", list_path(l), class: "btn btn-success btn-sm rounded border"%>
        </div>
      <% end %>

  </div>
</div>
