
<div class="container-md m-3 p-3">
  <h1>Create new list</h1>
  <p>Lists are the best things ever & ever so hurry up and create one</p>
  <%= simple_form_for(@list) do |f|%>
    <%= f.input :name %>
    <%= f.submit "add a list", class:"btn btn-primary rounded-border"%>
  <% end %>
</div>
